<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="pages/app.css">
</head>
<body ng-app="app">
<div ng-controller="AppController as vm" class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            App
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>#</th>
                            <th>File name</th>
                            <th>Time</th>
                            <th>Has Error</th>
                        </tr>
                        <tr ng-repeat="row in ::vm.data track by $index">
                            <th>{{::$index + 1}}</th>
                            <td>{{::row.date}}</td>
                            <td>{{::vm.getTime(row.resultDuration.time)}}</td>
                            <td>{{::vm.hasError(row.resultDuration.withError)}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-6">
                    <form name="simpleForm" novalidate ng-submit="vm.getDataForOneFile()">
                        <div class="form-group">
                            <label for="fileName">Enter file name (date)</label>
                            <input type="text"
                                   class="form-control"
                                   id="fileName"
                                   name="input"
                                   placeholder="DD-MM-YY format"
                                   required
                                   ng-model="vm.fileName">
                            <span ng-if="simpleForm.input.$error.required && simpleForm.input.$touched" class="error">This field is required</span>
                        </div>
                        <button type="submit" class="btn btn-default" ng-disabled="!simpleForm.$valid">Submit</button>
                    </form>

                    <div ng-if="vm.canShowDataForOneFile">
                        <div>File name: {{::vm.singleFile.date}}</div>
                        <div>Time: {{::vm.getTime(vm.singleFile.resultDuration.time)}}</div>
                        <div>Has Error: {{::vm.hasError(vm.singleFile.resultDuration.withError)}}</div>
                    </div>

                    <div ng-if="vm.hasErrorMessage" class="error">
                        No such File
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="pages/app.js"></script>
</body>
</html>